<div hidden class="container-comment-form <%= resource_class %>">
  <h4>Add your comment</h4>
  <br>

  <form action="/comment/new" method="post" id="registration">
    <br>
    <input type="text" name="comment" placeholder="Write your comment here..."/>
    <input type="hidden" value="<%= resource %>" name="post_id" />
    <input type="hidden" value="<%= resource_class %>" name="resource_class" />
    <input type="hidden" value="<%= resource_id %>" name="resource_id" />
    <br>

    <button id="new_comment" type="submit" value="submit_comment">Submit</button>
  </form>
</div>
