
.container {
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#snack-title {
  font-size: 30px;
}

img {
  margin-bottom: -70px;
  margin-top: 50px;
  margin-left: 10px;
  clear: right;
}

h1 {
  margin: 0;
  clear: left;
}

#title {
  color: #00b35c;
  text-decoration: outline;
}

.content-box {
  margin-top: 125px;
  padding-bottom: 50px;
}

.logo-container {
  font-size: 30px;
  margin-left: 75px;
}

nav {
  float: right;
  padding-right: 30px;
}

body {
  width: 1080px;
  padding-left: 30px;
  background-color: #d1d1e0;
}

.index-container {
  margin-left: 40%;
}

.full-post-container {
  margin left: 400px;
}

h4 {
  font-size: 30px;
  text-decoration: underline;
}

h2 {
  font-size: 20px;
}

#snack-list {
  text-decoration: underline;
}

#comment_group {
  margin-left: 100px;
}

textarea {
  width: 75%;
  height: 150px;
  box-sizing: border-box;
}
