<div class="container">
  <h1>Stack Low-Flow!</h1>
  <p>Create an account</p>
  <br>

  <form action="/user/new" method="post" id="registration">
    <label for="username">Username:</label>
    <input type="text" name="username" />
    <br>

    <label for="password">Password:</label>
    <input type="password" name="original_pw" />
    <br>

    <button id="register" type="submit" value="Submit">Create Account</button>
  </form>
</div>
