<div class="container">
  <h4>Create a new post</h4>
  <br>

  <form action="/post/new" method="post" id="registration">
    <input type="text" name="post_title" placeholder="Title" />
    <br>

    <input type="text" name="question" placeholder="Write your question here..."/>
    <br>

    <button id="new_post" type="submit" value="submit_post">Submit</button>
  </form>
</div>



