<div class="comment_box">
  <form method="post" action="/comment/new/<%= post.id %>" class="center">

      <label for="comment_text">Comment:</label>
      <textarea id="comment_text" name="comment_text"></textarea>
      <input type="submit" class="button" value="Submit Comment"></input>

    <button type="submit" name="new_comment" class="comment-post-button">Submit comment</button>

  </form>
</div>
