<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Slack Low-flow</title>
</head>
<body>
  <header role="banner" class="nav-banner">
    <% if current_user %>
      <nav>
        <ul class="nav-list">
          <li class="nav-items"><a href="/">home</a></li>
          <li class="nav-items"><a href="/logout">logout</a></li>
          <li class="nav-items"><a href="/user/:id"><%= User.find(session[:id]).username %></a></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul class="nav-list">
          <li class="nav-items"><a href="/">home</a></li>
          <li class="nav-items"><a href="/login">login</a></li>
          <li class="nav-items"><a href="/register">register</a></li>
        </ul>
      </nav>
    <% end %>

      <div class="logo-container">
        <h1>Slack Low-flow</h1>
      </div>

  </header>

  <div class="content-box">
      <%= yield %>
  </div>
</body>
</html>
