<div class="container">
  <h1>Oh, I see you are returning.  Well why don't you login below!</h1>
  <br>
  <form id="login_form" method="post" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username"/>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <br>

    <input type="submit" value="Log In" />
  </form>
</div>
